body{
  background: #0478B3;
}

.headerText{
  size: 20pt;
  color: white;
  border-bottom: 5px solid white;
}

.formContainer {
  width: 300px;
  clear: both;
}

.formContainer input {
  width: 100%;
  clear: both;
  text-align: center;
  margin: 5px auto;
  padding: 7px 40px;
  border-radius: 12px;
  border: 0;
}

.formContainer input[type = "submit"] {
  border: 0;
  width: 75%;
  clear: both;
  text-align: center;
  cursor: pointer;
  display: block;
  background: none;
  color: white;
  border: 2px solid white;
  padding: 7px 40px;
  outline: none;
  border-radius: 12px;
  transition: 0.25s;
}

.formContainer input[type = "submit"]:hover {
  background: white;
  color: black;
}

a:link {
  color: white;
}

a:visited {
  color: black;
}

.newContainer {
  width: 300px;
  clear: both;
  color: white;
}

.newContainer input {
  width: 100%;
  clear: both;
  text-align: center;
  margin: 5px auto;
  padding: 7px 40px;
  border-radius: 12px;
  border: 0;
}

.newContainer input[type = "submit"] {
  border: 0;
  width: 75%;
  clear: both;
  text-align: center;
  cursor: pointer;
  display: block;
  background: none;
  color: white;
  border: 2px solid white;
  padding: 7px 40px;
  outline: none;
  border-radius: 12px;
  transition: 0.25s;
}

.newContainer input[type = "submit"]:hover {
  background: white;
  color: black;
}